In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/12 21:10:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
df = spark.read.option("header", "true").option('inferSchema', "true").csv('./data/Case.csv')

In [22]:
df.printSchema()

root
 |--  case_id: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [23]:
df = df.withColumnRenamed(" case_id", "case_id")
df.printSchema()

root
 |-- case_id: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [24]:
from pyspark.sql.functions import col, desc

In [27]:
#df.select(col("province"), col("city"), col("confirmed")).orderBy(col('confirmed').cast("int").desc()).limit(3).show()

df.select(col("province"), col("city"), col("confirmed")).filter((col('city') != '-') & (col('city') != 'from other city')).orderBy(desc(col("confirmed"))).show()

+-----------------+---------------+---------+
|         province|           city|confirmed|
+-----------------+---------------+---------+
|            Seoul|        Guro-gu|       95|
|Chungcheongnam-do|      Seosan-si|        9|
| Gyeongsangnam-do|       Jinju-si|        9|
|           Sejong|         Sejong|        8|
| Gyeongsangnam-do|   Geochang-gun|        8|
|            Seoul|     Gangnam-gu|        7|
|            Seoul|        Jung-gu|        7|
|            Seoul|      Jongno-gu|        7|
|          Daejeon|         Seo-gu|        7|
| Gyeongsangnam-do|    Changwon-si|        7|
| Gyeongsangnam-do|Changnyeong-gun|        7|
| Gyeongsangbuk-do|    Bonghwa-gun|       68|
|      Gyeonggi-do|    Seongnam-si|       67|
|      Gyeonggi-do|     Bucheon-si|       67|
| Gyeongsangbuk-do|   Gyeongsan-si|       66|
|            Seoul|     Gangnam-gu|        6|
|            Seoul|   Geumcheon-gu|        6|
|            Busan|    Haeundae-gu|        6|
|      Gyeonggi-do|   Uijeongbu-si|       50|
|            Busan|     Suyeong-gu|        5|
+-----------------+---------------+---------+
only showing top 20 rows

In [29]:
df2 = spark.read.option("header", "true").option('inferSchema', "true").csv('./data/PatientInfo.csv')

In [30]:
df2.printSchema()

root
 |-- patient_id: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- country: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- infected_by: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- symptom_onset_date: string (nullable = true)
 |-- confirmed_date: date (nullable = true)
 |-- released_date: date (nullable = true)
 |-- deceased_date: date (nullable = true)
 |-- state: string (nullable = true)

In [ ]:
df2.select(col('patient_id')).distinct().count()

5164

In [34]:
df2 = df2.dropDuplicates(["patient_id"])

In [41]:
from pyspark.sql.functions import count

#df2.filter(col("infected_by").isNull()).count()
df2.select(count('infected_by').alias('conteo')).show()

+------+
|conteo|
+------+
|  1346|
+------+

In [42]:
df2_contagios = df2.na.drop(subset=['infected_by'])

In [43]:
df2_contagios.count()

1346

In [47]:
df3 = df2_contagios.filter(col("infected_by").isNull()).filter(col("sex") == 'female')

In [51]:
df2.show()

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|        city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|  male|50s|  Korea|   Seoul|  Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|  male|30s|  Korea|   Seoul| Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|  male|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
|1000000004|  male|20s|  Korea|   Seoul|     Mapo-gu|     overseas inflow|       null|             9|        2020-01-26|    2020-01-30|   2020-02-15|         null|released|
|1000000005|female|20s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000002|             2|              null|    2020-01-31|   2020-02-24|         null|released|
|1000000006|female|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|            43|              null|    2020-01-31|   2020-02-19|         null|released|
|1000000007|  male|20s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|             0|              null|    2020-01-31|   2020-02-10|         null|released|
|1000000008|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       null|             0|              null|    2020-02-02|   2020-02-24|         null|released|
|1000000009|  male|30s|  Korea|   Seoul|   Songpa-gu|     overseas inflow|       null|            68|              null|    2020-02-05|   2020-02-21|         null|released|
|1000000010|female|60s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000003|             6|              null|    2020-02-05|   2020-02-29|         null|released|
|1000000011|female|50s|  China|   Seoul|Seodaemun-gu|     overseas inflow|       null|            23|              null|    2020-02-06|   2020-02-29|         null|released|
|1000000012|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       null|             0|              null|    2020-02-07|   2020-02-27|         null|released|
|1000000013|  male|80s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|           117|              null|    2020-02-16|         null|         null|deceased|
|1000000014|female|60s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000013|            27|        2020-02-06|    2020-02-16|   2020-03-12|         null|released|
|1000000015|  male|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT|       null|             8|        2020-02-11|    2020-02-19|         null|         null|released|
|1000000016|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|          null|              null|    2020-02-19|   2020-03-11|         null|released|
|1000000017|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|          null|              null|    2020-02-20|   2020-03-01|         null|released|
|1000000018|  male|20s|  Korea|   Seoul|         etc|                 etc|       null|          null|              null|    2020-02-20|         null|         null|released|
|1000000019|female|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000021|          null|              null|    2020-02-20|   2020-03-08|         null|released|
|1000000020|female|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT| 1000000015|          null|              null|    2020-02-20|         null|         null|released|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 20 rows

In [52]:
#disminuyo a 2 
df2.coalesce(2).write.partitionBy('province').mode('overwrite').parquet('./data/salida')