In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/24 19:10:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
empleados = spark.read.parquet('./data/empleados')

departamentos = spark.read.parquet('./data/departamentos')

In [3]:
from pyspark.sql.functions import col

In [4]:
depa = departamentos.withColumn('num_dpto', col('id'))

In [5]:
depa.printSchema()

empleados.printSchema()

root
 |-- id: long (nullable = true)
 |-- nombre_dpto: string (nullable = true)
 |-- num_dpto: long (nullable = true)

root
 |-- nombre: string (nullable = true)
 |-- num_dpto: long (nullable = true)

In [7]:
#este código no funcionaría
empleados.join(depa, col('num_dpto') == col('num_dpto'))

25/04/24 19:11:05 WARN Column: Constructing trivially true equals predicate, ''num_dpto = 'num_dpto'. Perhaps you need to use aliases.

AnalysisException: [AMBIGUOUS_REFERENCE] Reference `num_dpto` is ambiguous, could be: [`num_dpto`, `num_dpto`].

In [9]:
df_con_duplicados = empleados.join(depa, empleados['num_dpto'] == depa['num_dpto'])

In [10]:
df_con_duplicados.printSchema()

root
 |-- nombre: string (nullable = true)
 |-- num_dpto: long (nullable = true)
 |-- id: long (nullable = true)
 |-- nombre_dpto: string (nullable = true)
 |-- num_dpto: long (nullable = true)

In [12]:
df_con_duplicados.select(empleados['num_dpto']).show()

+--------+
|num_dpto|
+--------+
|      33|
|      33|
|      34|
|      34|
|      31|
+--------+

In [13]:
df2 = empleados.join(depa, 'num_dpto')

In [15]:
df2.printSchema()

root
 |-- num_dpto: long (nullable = true)
 |-- nombre: string (nullable = true)
 |-- id: long (nullable = true)
 |-- nombre_dpto: string (nullable = true)

In [16]:
empleados.join(depa, ['num_dpto']).show()

+--------+------+---+-----------+
|num_dpto|nombre| id|nombre_dpto|
+--------+------+---+-----------+
|      31|Sandro| 31|     letras|
|      33| Katia| 33|    derecho|
|      33|  Luis| 33|    derecho|
|      34| Laura| 34| matemática|
|      34|  Raul| 34| matemática|
+--------+------+---+-----------+