In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [ ]:
def f_cubo(n):
    return n * n * n

In [ ]:
from pyspark.sql.types import LongType

In [ ]:
spark.udf.register('cubo', f_cubo, LongType())

In [ ]:
spark.range(1, 10).createOrReplaceTempView('df_temp')

In [ ]:
spark.sql("select id, cubo((id)) as cubo from df_temp").show()

In [ ]:
def bienvenida(nombre):
    return f"Hola {nombre}"

In [ ]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

In [ ]:
bienvenida_udf = udf(lambda x: bienvenida(x), StringType())

In [ ]:
df_nombre = spark.createDataFrame([('Jose',), ('Julia',)], ['nombre'])

In [ ]:
df_nombre.show()

In [ ]:
df_nombre.select(
    col('nombre'),
    bienvenida_udf(col('nombre')).alias('bie_nombre')
).show()

In [ ]:
@udf(returnType=StringType())
def mayuscula(s):
    return s.upper()

In [ ]:
df_nombre.select(
    col('nombre'),
    bienvenida_udf(col('nombre')).alias('bie_nombre'),
    mayuscula(col('nombre')).alias('nombre_mayus')
).show()

In [ ]:
import pandas as pd

In [ ]:
from pyspark.sql.functions import pandas_udf

In [ ]:
def cubo_pandas(a: pd.Series) -> pd.Series:
    return a * a * a

In [ ]:
cubo_udf = pandas_udf(cubo_pandas, returnType=LongType())

In [ ]:
x = pd.Series([1, 2, 3])

In [ ]:
print(cubo_pandas(x))

In [ ]:
df = spark.range(5)

In [ ]:
df.select(
    col('id'),
    cubo_udf(col('id')).alias('cubo_pandas')
).show()